# /etc/systemd/system/infra-on-fire.service
[Unit]
Description=Monitors infrastructure status and displays it on an ESP-based HW dashboard
Documentation=https://github.com/zelial/infra_on_fire

[Service]
User=zelial
Group=zelial
# when binary in non-traditinal dir for binaries:
# semanage fcontext -a -t bin_t /home/zelial/pub/smart-home/infra_on_fire/infra_on_fire
# restorecon -Rv /home/zelial/pub/smart-home/infra_on_fire/
ExecStart=/home/zelial/pub/smart-home/infra_on_fire/infra_on_fire
Restart=Always

[Install]
WantedBy=multi-user.target
